.index {
  padding: 0 var(--padding-layout-small);
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: @max-page-width;
  margin: 0 auto;


  .header {
    width: fit-content;

    .ice-row {
      width: fit-content !important;
    }
  }
}
